# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
.venv/
venv/
env/

# Streamlit
.streamlit/

# Model files (too large for GitHub, share via Google Drive instead)
models/*.pt

# OS
.DS_Store
Thumbs.db
