# Core
streamlit
ultralytics
opencv-python-headless
numpy
pillow

# Webcam + Media
streamlit-webrtc
av<10  # PyAV 10 fails on Streamlit Cloud

# LLMs
openai
google-generativeai
python-dotenv
langchain
langchain-openai

# TTS
gTTS
playsound

# Utilities
gdown
