# Core
streamlit
ultralytics
opencv-python-headless
numpy
pillow

# Webcam + Media
streamlit-webrtc

# LLMs
openai
google-generativeai
python-dotenv
langchain
langchain-openai

# TTS
gTTS
playsound

# Utilities
gdown
